<div class="card-body" data-controller="professional">
  <button class="close-button" data-action="click->professional#closeDetails">
    <i class="fas fa-times"></i>
  </button>
  <h5 class="card-title">
    <% if @professional.open_now? %>
      <span class="availability-badge bg-success float-end"></span>
    <% else %>
      <span class="availability-badge bg-secondary float-end"></span>
    <% end %>
    <%= @professional.first_name %> <%= @professional.last_name %>
    <% if @search_query_coordinates %>
      <span class="distance with-close-button">
        <%= distance_between(@search_query_coordinates, @professional) %>
      </span>
    <% end %>
  </h5>
  <p class="card-text">
    <strong>Spécialité :</strong> <%= @professional.speciality %>
  </p>
  <p class="card-text">
    <strong>Adresse :</strong> <%= @professional.full_address %>
  </p>
  <p class="card-text">
    <strong>Horaires :</strong>
    <% first_work_day_found = false %>
    <% sorted_opening_hours(@professional.opening_hours).each do |(day, hours)| %>
      <% if hours.present? %>
        <span class="opening-hours-day <%= 'first-day' unless first_work_day_found %>"><%= day %> :</span>
        <span class="opening-hours-hours <%= 'first-hours' unless first_work_day_found %>"><%= hours %></span><br>
        <% first_work_day_found = true %>
      <% end %>
    <% end %>
  </p>
  <p class="card-text">
    <strong>Site Web:</strong>
    <% if @professional.website.present? %>
      <% website_url = @professional.website.starts_with?("http://", "https://") ? @professional.website : "http://#{@professional.website}" %>
      <%= link_to website_url, website_url, target: "_blank", title: "Visitez le site web", class: "btn btn-link site-web-link" %>
    <% end %>
  </p>
  <div class="button-group mt-3">
    <%= link_to "Itinéraire", "https://www.google.com/maps/dir/?api=1&destination=#{@professional.full_address.gsub(' ', '+')}", class: "btn btn-primary btn-sm itineraire", target: "_blank" %>
    <%= link_to @professional.phone_number, "tel:#{@professional.phone_number}", class: "btn btn-primary btn-sm appeler" %>
  </div>
</div>
