<div id="professional-<%= professional.id %>" class="card search-professional-card <%= I18n.transliterate(professional.speciality).downcase.gsub(' ', '-') %>" data-controller="professional" data-professional-id="<%= professional.id %>" data-open-now="<%= professional.open_now? %>">
  <div class="card-body">
    <h5 class="card-title">
      <% if professional.open_now? %>
        <span class="availability-badge bg-success float-end"></span>
      <% else %>
        <span class="availability-badge bg-secondary float-end"></span>
      <% end %>
      <%= professional.first_name %> <%= professional.last_name %>
      <% if @search_query_coordinates.present? %>
        <span class="distance">
          <%= distance_between(@search_query_coordinates, professional) %>
        </span>
      <% end %>
    </h5>
    <p class="card-text"><strong>Spécialité:</strong> <%= professional.speciality %></p>
    <p class="card-text"><strong>Adresse:</strong> <%= professional.full_address %></p>
    <%= link_to "Voir Détails", professional_details_path(professional, query_city: @search_query_city), class: "btn btn-primary btn-sm details", data: { action: "click->professional#showDetails", target: "professional.details", professional_id: professional.id } %>
  </div>
</div>
