<div class="annuaire-wrapper" data-controller="open-now">
  <div class="annuaire-header-container">
    <h2 class="annuaire-h2">Liste des professionnels autour de vous :</h2>
    <div class="annuaire-searchbar-city">
      <%= render partial: 'partials/searchbar_city', locals: { query_city: @query_city, controller_attribute: "extract-city autocomplete search geolocation" } %>
    </div>
    <div class="annuaire-open-now">
      <%= render 'partials/open_now' %>
    </div>
  </div>

  <div class="annuaire-results-container">
    <div class="annuaire-professionals-grid">
      <% specialities = Professional::SPECIALITIES %>
      <% specialities.each do |speciality| %>
        <div class="annuaire-professional-category" data-speciality="<%= speciality %>">
          <% professionals = fetch_professionals(speciality) %>
          <h3 class="annuaire-h3"><%= speciality.pluralize %>
            <span class="annuaire-count hidden"><%= professionals.count %></span>
          </h3>
          <div class="annuaire-professional-scroll">
            <% professionals.each do |professional| %>
              <div class="annuaire-professional-card hidden">
                <%= render partial: 'professionals/professional_card', locals: { professional: professional } %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
