<%= render partial: 'partials/searchbar_city' %>

<h2>Liste des professionnels autour de vous :</h2>

<div class="container-results">
  <div class="professionals-grid">
    <!-- Container pour les médecins -->
    <div class="professional-category">
      <h3>Médecins</h3>
      <% @professionals.search_by_speciality("Médecin").each do |professional| %>
        <div class="professional-card">
          <%= render partial: 'professionals/professional_card', locals: { professional: professional } %>
        </div>
      <% end %>
    </div>

    <!-- Container pour les dentistes -->
    <div class="professional-category">
      <h3>Dentistes</h3>
      <% @professionals.search_by_speciality("Dentiste").each do |professional| %>
        <div class="professional-card">
          <%= render partial: 'professionals/professional_card', locals: { professional: professional } %>
        </div>
      <% end %>
    </div>

    <!-- Container pour les pharmacies -->
    <div class="professional-category">
      <h3>Pharmacies</h3>
      <% @professionals.search_by_speciality("Pharmacie").each do |professional| %>
        <div class="professional-card">
          <%= render partial: 'professionals/professional_card', locals: { professional: professional } %>
        </div>
      <% end %>
    </div>

    <!-- Container pour les urgences -->
    <div class="professional-category">
      <h3>Urgences</h3>
      <% @professionals.search_by_speciality("Urgence").each do |professional| %>
        <div class="professional-card">
          <%= render partial: 'professionals/professional_card', locals: { professional: professional } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
