<%= render partial: 'partials/searchbar_city' %>

<h2>Liste des professionnels autour de vous :</h2>

<ul>
  <% @professionals.each do |professional| %>
    <li>
      <strong><%= professional.first_name %> <%= professional.last_name %></strong>
      <br>
      Spécialité : <%= professional.speciality %>
      <br>
      Adresse : <%= professional.address %>
      <br>
      Téléphone : <%= professional.phone_number %>
    </li>
    <br>
  <% end %>
</ul>
