<div class="contact-form-container">
  <h2 class="contact-form-header">Contactez-nous</h2>

  <% if flash[:notice] %>
    <div id="notification" class="notification">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <%= form_with url: contact_path, local: true, html: { class: 'contact-form-fields' } do |form| %>
    <div class="contact-form-group">
      <%= form.label :name, "Prénom et Nom" %>
      <%= form.text_field :name, placeholder: "Entrez votre prénom et nom", class: 'contact-form-control' %>
    </div>

    <div class="contact-form-group">
      <%= form.label :email, "Email" %>
      <%= form.email_field :email, placeholder: "Entrez votre email", class: 'contact-form-control' %>
    </div>

    <div class="contact-form-group">
      <%= form.label :subject, "Sujet" %>
      <%= form.text_field :subject, placeholder: "Quel est le sujet de votre message ?", class: 'contact-form-control' %>
    </div>

    <div class="contact-form-group">
      <%= form.label :message, "Message" %>
      <%= form.text_area :message, placeholder: "Tapez votre message", class: 'contact-form-control' %>
    </div>

    <div class="contact-form-group">
      <%= form.submit "Envoyer le message", class: 'contact-form-submit' %>
    </div>
  <% end %>
</div>
