<section class="hero">
    <div class="container">
      <div class="hero-content">
          <div class="hero-text">
              <h1>Une urgence médicale ? <span>Trouvez un professionnel</span></h1>
              <div class="home-searchbar-city">
                  <%= form_tag search_path, method: :get, class: "search-container", data: { controller: "autocomplete search geolocation" } do %>
                      <%= render partial: 'partials/searchbar_city', locals: { query_city: @query_city, controller_attribute: "autocomplete search geolocation" } %>
                  <% end %>
              </div>
              <p>UrgMed géolocalise en temps réel les médecins, dentistes, pharmacies de garde et services d'urgence les plus proches.</p>
          </div>
          <a href="http://localhost:3000/admin/" class="hidden-admin-button"></a>
          <%= image_tag 'home-demo.png', class: 'Home hero-image', alt: 'Home-demo' %>
      </div>
    </div>
</section>

<section class="services" data-controller="geolocation">
    <div class="container">
        <h2>Trouvez un professionnel de santé pour chaque urgence</h2>
        <div class="service-items">
            <% services = [
                { url: '/search?query_city=&tags=Médecin&open_now=false', image: 'home-medecin.png', alt: 'Home-Medecin', title: 'Médecins de garde', description: 'Accédez rapidement aux médecins disponibles pour les urgences médicales, où que vous soyez.' },
                { url: '/search?query_city=&tags=Pharmacie&open_now=false', image: 'home-pharmacie.png', alt: 'Home-Pharmacie', title: 'Pharmacies de garde', description: 'Trouvez facilement une pharmacie de garde pour vos besoins médicaux urgents, jour et nuit.' },
                { url: '/search?query_city=&tags=Dentiste&open_now=false', image: 'home-dentiste.png', alt: 'Home-Dentiste', title: 'Dentistes de garde', description: 'Localisez les dentistes disponibles en cas d\'urgence dentaire, même en dehors des heures habituelles.' },
                { url: '/search?query_city=&tags=Urgences&open_now=false', image: 'home-urgences.png', alt: 'Home-Urgences', title: 'Services d\'urgences', description: 'Accédez aux services d\'urgence hospitaliers et cliniques pour une prise en charge immédiate.' }
            ] %>

            <% services.each do |service| %>
                <div class="service-item">
                    <a href="<%= service[:url] %>" class="service-item-link">
                        <div class="service-icon">
                            <%= image_tag service[:image], class: 'Home Professionals', alt: service[:alt] %>
                        </div>
                        <h3><%= service[:title] %></h3>
                        <p><%= service[:description] %></p>
                    </a>
                </div>
            <% end %>
        </div>
    </div>
</section>
