

<section class="hero">
    <div class="container">
        <div class="hero-content">
            <%= image_tag 'home-demo.png', class: 'Home hero-image', alt: 'Home-demo' %>
            <div class="hero-text">
                <h1>Une urgence médicale ? <span>Trouvez un professionnel</span></h1>
                <div class="searchbar-pro">
                    <%= render partial: 'partials/searchbar_pro' %>
                </div>
                <p>UrgMed géolocalise en temps réel les médecins, dentistes, pharmacies de garde et services d'urgence les plus proches.</p>
            </div>
        </div>
    </div>
</section>

<section class="services">
    <div class="container">
        <h2>Trouvez un professionnel de santé pour chaque urgence</h2>
        <div class="service-items">
            <div class="service-item">
                <a href="/search?query_pro=Médecin" class="service-item-link">
                <div class="service-icon">
                    <%= image_tag 'home-medecin.png', class: 'Home Professionals', alt: 'Home-Medecin' %>
                </div>
                <h3>Médecins de garde</h3>
                <p>Accédez rapidement aux médecins disponibles pour les urgences médicales, où que vous soyez.</p>
                </a>
            </div>
            <div class="service-item">
                <a href="/search?query_pro=Pharmacie" class="service-item-link">
                <div class="service-icon">
                    <%= image_tag 'home-pharmacie.png', class: 'Home Professionals', alt: 'Home-Pharmacie' %>
                </div>
                <h3>Pharmacies de garde</h3>
                <p>Trouvez facilement une pharmacie de garde pour vos besoins médicaux urgents, jour et nuit.</p>
                </a>
            </div>
            <div class="service-item">
                <a href="/search?query_pro=Dentiste" class="service-item-link">
                <div class="service-icon">
                    <%= image_tag 'home-dentiste.png', class: 'Home Professionals', alt: 'Home-Dentiste' %>
                </div>
                <h3>Dentistes de garde</h3>
                <p>Localisez les dentistes disponibles en cas d'urgence dentaire, même en dehors des heures habituelles.</p>
                </a>
            </div>
            <div class="service-item">
                <a href="/search?query_pro=Urgences" class="service-item-link">
                <div class="service-icon">
                    <%= image_tag 'home-urgences.png', class: 'Home Professionals', alt: 'Home-Urgences' %>
                </div>
                <h3>Services d'urgences</h3>
                <p>Accédez aux services d'urgence hospitaliers et cliniques pour une prise en charge immédiate.</p>
                </a>
            </div>
        </div>
    </div>
</section>
