<div class="container-wrapper" data-controller="tags search open-now">
  <div class="container-left">
    <div class="search-header">
      <div class="search-searchbar-city">
        <%= render partial: 'partials/searchbar_city', locals: { query_city: @search_query_city, controller_attribute: "autocomplete geolocation" } %>
      </div>
      <div class="searchtags">
        <% Professional::SPECIALITIES.each do |speciality| %>
          <button class="tag <%= speciality.downcase %>" data-tag="<%= speciality %>" data-action="click->tags#filter"><%= speciality %></button>
        <% end %>
      </div>

    </div>
    <div class="container-map"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      data-map-marker-query-city-value="<%= @marker_query_city.to_json %>">
    </div>
  </div>

  <div class="container-right">
    <div class="header">
      <h2>Résultats :</h2>
      <%= render 'partials/open_now' %>
    </div>
    <div class="container-results" data-tags-target="results" data-open-now-target="results">
      <% if @professionals.any? %>
        <div class="search-professional-card">
          <%= render partial: 'professionals/professional_card', collection: @professionals, as: :professional %>
        </div>
      <% else %>
        <p>No professionals found.</p>
      <% end %>
    </div>
  </div>
</div>
