<h1>Pages#search</h1>
<p>Find me in app/views/pages/search.html.erb</p>

<%= render partial: 'partials/searchbar_city', locals: { query_pro: @search_query_pro } %>
<%= render partial: 'partials/searchbar_pro', locals: { query_city: @search_query_city } %>

<% if @professionals.any? %>
  <h2>Search Results:</h2>
  <ul>
    <% @professionals.each do |professional| %>
      <li><%= professional.first_name %> <%= professional.last_name %> - <%= professional.speciality %></li>
    <% end %>
  </ul>
<% else %>
  <p>No professionals found.</p>
<% end %>
